@using MVCtest.Models
@model List<BookModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Scripts/css/common.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <a href="/Book/AddNew" class="btn">添加</a>

    <a href="/Authentication/Logout" class="btn">注销</a>
    <div>
        <table>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>书名</th>
                    <th>价格</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var price = @item.Price.ToString("￥0.00");

                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
